<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>3mil</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <!-- Adicionar favicon -->
  <link rel="icon" href="../../public/img/faviconMPPA.png" type="image/x-icon" />
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100">
  <main class="container d-flex justify-content-center">
    <div class="card shadow p-4" style="max-width: 380px; width: 100%;">
      <div class="text-center mb-3">
        <img src="../../public/img/logo-mppa.png" alt="Logo MPPA" class="img-fluid"/> 
        <h1 class="fs-4 fw-bold">Acesso 3mil</h1>
      </div>
      <form class="d-flex flex-column gap-3">
        <input type="text" class="form-control" placeholder="Usuário" required>
        <input type="password" class="form-control" placeholder="Senha" required>
        <button type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>

      <div class="text-center mt-3">
        <a href="#" class="">Esqueci minha senha</a>
      </div>
    </div>
  </main>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>

<!-- Fazer comentários para identificar sessões da página -->
<!-- Trocar a inclusão do Bootstrap por CDN por NPM -->