<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form MPPA</title>
    <!-- Integração do CSS personalizado -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Integração do Bootstrap -->
    <link rel="stylesheet" href="../../public/css/estilos.css">
</head>

<body>

    <!-- Cabeçalho -->
    <header>
        <div class="header_container d-flex align-items-center justify-content-between">
            <h1 class="titulo-header">Cadastro de veículo</h1>
            <div class="d-flex align-items-center gap-4">
                <img class="logo-mppa" src="../../public/img/logoMppaBranco.png" alt="Logo do MPPA">
                <img class="logo-gsi" src="../../public/img/logoGsiMppa.png" alt="Logo do GSI">
            </div>
        </div>
    </header>
    <main>
        <form action="">
            <!-- 1. Dados do condutor -->
            <section class="section-box p-3 mx-4 my-3">
                <h2 class="section-title mb-3">1. Dados do condutor</h2>
                <div class="d-flex flex-wrap gap-4">
                    <input class="form-control input-line flex-item" type="text" placeholder="Nome">
                    <input class="form-control input-line flex-item" type="text" placeholder="Matrícula">
                    <input class="form-control input-line flex-item" type="date" placeholder="Data da missão (dd.mm.aaaa)"> <!-- Colocar o texto Data da missão (dd.mm.aaaa) -->
                </div>
            </section>

            <!-- 2. Dados do veículo -->
            <section class="section-box p-3 mx-4 my-3">
                <h2 class="section-title mb-3">2. Dados do veículo</h2>

                <div class="d-flex flex-wrap gap-4">
                    <select class="form-control input-line flex-item" name="" id="">
                        <!-- Colocar um valor padrão - "Selecione um veículo" -->

                    </select>
                    <input class="form-control input-line flex-item" type="number" placeholder="Kilometragem inicial">
                    <input class="form-control input-line flex-item" type="number" placeholder="Kilometragem final">
                    <input class="form-control input-line flex-item" type="time" placeholder="Horário da retirada">     <!-- Colocar o texto horário da retirada dentro do campo -->
                    <input class="form-control input-line flex-item" type="time" placeholder="Horário da devolução">    <!-- Colocar o texto horário da davolução dentro do campo -->
                </div>
            </section>

            <!-- 3. Campo de observações -->
            <section class="section-box p-3 mx-4 my-3">
                <h2 class="section-title mb-3">3. Observações</h2>
                <textarea name="" id=""></textarea>
            </section>

            <!-- 4. Botão de envio -->
            <button class="d-block mx-auto text-uppercase my-5">Enviar</button>
        </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>




<!-- 

Comentários no código (Ajustes)

-> No campo de data: Identificar com um placeholder "Data da missão (dd.mm.aaaa)", no código apenas está o formato padrão do HTML5 que fica confuso.
-> No campo modelo: Deixar uma mensagem padrão - "Selecione um veículo" e o simbolo de seta para baixo. Quando tiver selecionado, abrir uma caixa com os veículos disponíveis
-> Nos campos dos horários de retirada e devolução: Colocar o texto dentro do campo, como placeholder, "Horário da retirada" e "Horário da devolução"
-> No botão enviar colocar um icon de envio ao lado dele na cor branca.

-->